<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zd.aoding.outsourcing.weChat.api.bean.dataObject.BannerDO">
	<resultMap id="Banner" type="com.zd.aoding.outsourcing.weChat.api.bean.dataObject.BannerDO">
		<!-- -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="deleted" jdbcType="BIT" property="deleted" />
		<result column="object_id" jdbcType="VARCHAR" property="objectId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="ower_id" jdbcType="INTEGER" property="owerId" />
		<result column="coverimgurl" jdbcType="VARCHAR" property="coverImgUrl" />
		<result column="app_code" jdbcType="VARCHAR" property="appCode" />
		<result column="hyperlink" jdbcType="VARCHAR" property="hyperlink" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="position" jdbcType="INTEGER" property="position" />
	</resultMap>



	<!-- **************************** 修改增加select begin********************************* -->

	<sql id="Page_Main_Column">
		<!--分页查询主要字段 -->
		*
	</sql>
	<sql id="tableName">
		<!--查询表格名字 -->
		banner
	</sql>

	<select id="selectParam" parameterType="java.util.Map"
		resultMap="Banner">
		SELECT
		<include refid="Page_Main_Column" />
		FROM
		<include refid="tableName" />
		<where>

			<if test="deleted != null"> and deleted = #{deleted}</if>
			<if test="type != null"> and type = #{type}</if>
			<if test="appCode != null"> and app_code = #{appCode}</if>
			<if test="position != null"> and position = #{position}</if>

		</where>
		<if test="groupColumn != null">
			group by #{groupColumn}
		</if>
		<if test="orderColumn != null">
			order by ${orderColumn}
			<if test="orderTurn != null">
				${orderTurn}
			</if>
		</if>
	</select>

	<select id="count" resultType="int">
		SELECT count(*) FROM
		<include refid="tableName" />
	</select>


	<select id="countParam" parameterType="java.util.Map"
		resultType="int">
		SELECT
		count(*)
		FROM
		<include refid="tableName" />
		<where>
			<if test="deleted != null"> and deleted = #{deleted}</if>
			<if test="type != null"> and type = #{type}</if>
			<if test="appCode != null"> and app_code = #{appCode}</if>
			<if test="position != null"> and position = #{position}</if>
		</where>
	</select>


	<select id="selectCustom" parameterType="com.zd.aoding.base.adapter.SQLAdapter"
		resultMap="Banner">
		${sql}
	</select>
	<!-- **************************** 修改增加select end********************************* -->


	<sql id="Base_Column_List">
		<!-- -->
		id, deleted, object_id, create_time, update_time, type, ower_id,
		coverimgurl, app_code, content,
		hyperlink, position
	</sql>
	<select id="selectPk" parameterType="java.lang.Integer"
		resultMap="Banner">
		<!-- -->
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableName" />
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- -->
		delete from
		<include refid="tableName" />
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="BannerDO" useGeneratedKeys="true"
		keyProperty="id">
		<!-- -->
		insert into
		<include refid="tableName" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="objectId != null">
				object_id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="owerId != null">
				ower_id,
			</if>
			<if test="coverImgUrl != null">
				coverimgurl,
			</if>
			<if test="appCode != null">
				app_code,
			</if>
			<if test="hyperlink != null">
				hyperlink,
			</if>
			<if test="position != null">
				position,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=BIT},
			</if>
			<if test="objectId != null">
				#{objectId,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="owerId != null">
				#{owerId,jdbcType=INTEGER},
			</if>
			<if test="coverImgUrl != null">
				#{coverImgUrl,jdbcType=VARCHAR},
			</if>
			<if test="appCode != null">
				#{appCode,jdbcType=VARCHAR},
			</if>
			<if test="hyperlink != null">
				#{hyperlink,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="BannerDO">
		<!-- -->
		update
		<include refid="tableName" />
		<set>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=BIT},
			</if>
			<if test="objectId != null">
				object_id = #{objectId,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="owerId != null">
				ower_id = #{owerId,jdbcType=INTEGER},
			</if>
			<if test="coverImgUrl != null">
				coverimgurl = #{coverImgUrl,jdbcType=VARCHAR},
			</if>
			<if test="hyperlink != null">
				hyperlink = #{hyperlink,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>